<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
  <title>{$pageTitle} - LikeBack</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script language="javascript" type="text/javascript" src="scripts.js"></script>
 </head>
 <body>
