
  <div class="header">
    <img id="applogo" src="{$appLogo|escape:'html'}" alt="Application logo"/>
    <a href="view.php"><img id="lblogo" src="icons/likeback.png" alt="LikeBack logo"/></a>
    <div id="lbinfo">Logged in as {$developer->login} - <a href="options.php">Settings</a> - <a href="stats.php">Statistics</a></div>
  </div>
