/* Base settings */
body      { background: white; color: black; margin: 0; font-family: 'Tahoma', sans-serif; font-size: 9pt; }
input     { vertical-align: middle; }
textarea  { width: 50em; height: 10em; }
th        { text-align: center; vertical-align: bottom; border-bottom: 1px solid navy; }
img       { padding: 1px; border: none; vertical-align: middle; }

/* Special settings for comment and page types */
.Like     { background-color: #DFFFDF; }
.Dislike  { background-color: #FFDFDF; }
.Bug      { background-color: #C0C0C0; }
.Feature  { background-color: #FFFFDF; }
.Options  { background-color: #DFDFFF; }

.subBar         { padding: 3px; background-image: url('subBar.png'); height: 34px; line-height: 34px; vertical-align: middle; }
.subBar.Like    { border-bottom: 1px solid #DFFFDF; }
.subBar.Dislike { border-bottom: 1px solid #FFDFDF; }
.subBar.Bug     { border-bottom: 1px solid #C0C0C0; }
.subBar.Feature { border-bottom: 1px solid #FFFFDF; }

.subBar.Options { border-bottom: 1px solid #DFDFFF; }

/* Comment list navigation */
.pager {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 1em;
}
.pager a, .pager a:active, .pager a:visited {
  color: #444;
  font-weight: bold;
  text-decoration: underline;
}
.pager a:hover {
  color: #777;
  font-weight: bold;
  text-decoration: underline;
}

/* Comment list base colors and settings */
#data { width: 100%; }
#data tr td {
  text-align: center;
  padding: 1px 3px;
}
.listed-minor {
  font-size: smaller;
}
a.listed-comment, a.listed-comment:hover,
a.listed-comment:active, a.listed-comment:visited {
  color: black;
}
#data tr td.listed-comment,
#data tr td.listed-status {
  text-align: justify;
}

/* Comment list status color */
.Progress { color: navy; }
.Solved,  .Thanks  { text-decoration: line-through; color: #444; }
.Invalid, .Wontfix { text-decoration: line-through; color: #900; }
a.Solved, a.Solved:visited,
a.Thanks, a.Thanks:visited {
  color: #444;
}
a.Invalid, a.Invalid:visited,
a.Wontfix, a.Wontfix:visited {
  color: #900;
}

/* Comment list checkboxes and buttons */
.CommentsTableMarksLinks {
  text-align: left;
  border-bottom: 0;
  padding-bottom: .5em;
}
.CommentsTableLinks {
  text-align: right;
  border-bottom: 0;
  padding-bottom: .5em;
}
.CommentsTableActions {
  text-align: center;
  border-bottom: 0;
}

table#filtersTable tr td:first-child {
  font-weight: bold;
}
table#filtersTable tfoot td {
  padding-top: 1em;
  padding-left: 2em;
}

.found    { background-color: #FFFF7F; }

div.comment {
  margin: 1em 1em 3em 1em;
  border-left: 2px dotted silver;
  padding: 1em 1em 1em 2em;
}

.pre      { white-space: pre; }
.nobr     { white-space: nowrap; color: inherit; text-decoration: inherit; }
.noexpand { width: 1px; white-space: nowrap; }

.mailRemark { vertical-align: middle; }
.mailRemarkOff { vertical-align: middle; color:gray; font-style:italic;}

.header   { text-align: center; background: #1C1C58 url('header.png') 0 50%; color: white; padding: 5px; border-bottom: 1px solid #121239; margin: 0; line-height: 26px; height: 80px; }
.header #applogo { float: left; height: 80px; }
.header #lbinfo { padding: 2px 5px; }
.header #lbinfo a,.header #lbinfo a:active, .header #lbinfo a:visited { color: #DDF; }
.header #lbinfo a:hover { color: #BBF; }
.header #lblogo { float: right; margin-left: 10px; margin-top: 10px; }
.header strong { color: #FFFFCD; }
.header label:hover { text-decoration: underline; cursor: default; }
.header a { color: white; }
.header a.link { display: block; position: absolute; margin: 0; left: 5px; top: 5px; height: 80px; line-height: 80px; vertical-align: middle; }
.content  { padding: 10px; }
.invisibleLink { text-decoration: none; font-weight: normal; color: black; }
a         { text-decoration: none; font-weight: normal; }
a:hover   { text-decoration: none; font-weight: normal; }
a, a:visited { color: blue; }
a.invisibleLink:visited { color: black; }

#statusMenu { position: absolute; display: none; border: 1px solid navy; background-color: #eeeee6; padding: 1px; }
#statusMenu a { display: block; padding: 1px 3px; border: 1px solid #eeeee6; }
#statusMenu a:hover { background-color: #2f65d9; color: white; background: #121239 url('header.png') 0 50%; border: 1px solid #121239; }
#statusMenu strong { display: block; margin: 2px; }

form, .form { padding: 0; margin: 0; }
.remark { margin: 5px; padding: 3px; text-align: left; }
.remark * { margin: 2px; padding: 0; }
.remark h2 { margin-bottom: 1em; }
.remarkDetails { margin-left: 5px; padding-left: 5px; border-left: 2px solid #6666ff; margin-bottom: 15px; }
.multiRemark { margin: 0 auto; width: 50%; }

.summary { margin-bottom: 10px; }
.summary th { text-align: right; vertical-align: top; border: none; }

.error {
  color: #C33;
  font-style: italic;
}

.debug {
  background-color: #FDD;
  font-size: smaller;
  margin: 2em;
  padding: 2em;
  border: 1px solid silver;
}
